**Q1: You are working in a bank and you have been given two lists of the employees who worked in 2021. Employee’s name in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, Sarita. Please write a program which helps to identify people who are common in both lists. Please do not use any in-built function.**

In [ ]:
#          0         1         2        3        4      5

#          -6        -5        -4       -3       -2     -1
 
list1 = ["Ramesh", "Suresh", "Mahesh", "Ali", "Jacob","Saritha"]
print(list1[2:5])

list2 = ["Ali", "Mukesh", "Mahesh", "Jacob", "Sai", "Sarita"]
print(list2[0])
print(list2[2])
print(list2[3])

['Mahesh', 'Ali', 'Jacob']
Ali
Mahesh
Jacob

In [68]:
list1 = ['Ramesh', 'Suresh', 'Mahesh', 'Ali', 'Jacob', 'Saritha']
list2 = ['Ali', 'Mukesh', 'Mahesh', 'Jacob', 'Sai', 'Sarita']

for j in list2:
    for i in list1:
        if j == i:
            print(j)

Ali
Mahesh
Jacob

In [69]:
list1 = ['Ramesh', 'Suresh', 'Mahesh', 'Ali', 'Jacob', 'Saritha']
list2 = ['Ali', 'Mukesh', 'Mahesh', 'Jacob', 'Sai', 'Sarita']

for i in list1:
    for j in list2:
        if i == j:
            print(i)

Mahesh
Ali
Jacob

**Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and convert them into a list. Once converted in a list, please write a program which adds their age.** 


Ramesh :  25

Suresh : 22

Mohit : 26

In [62]:
names = "Ramesh Suresh Mohit"
names = names.split()
print(names)

age = [25,22,26]
names_age = list(zip(names, age))

print(names_age)

['Ramesh', 'Suresh', 'Mohit']
[('Ramesh', 25), ('Suresh', 22), ('Mohit', 26)]

In [70]:
name = "Ramesh Suresh Mohit"
name_list = name.split()
print(name_list)
age = [25,22,26]
print(age)


name_age = dict(zip(name_list,age))
print(name_age)

['Ramesh', 'Suresh', 'Mohit']
[25, 22, 26]
{'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}

**Q3: A few students from a university have taken three exams**

Name = Sam, Jacy, Tom, Steve

Python = 25, 26, 29, 28

Statistics = 23, 21, 19, 25

SQL = 29, 27, 28, 25

**Please write a program which calculates mean values (no in-built function for mean) of all three tests and print the highest mean value. Addition and other functions are allowed. Please also report who scored the highest mark in python using programming construct**

In [64]:
# Define the lists
name = ['Sam', 'Jacy', 'Tom', 'Steve']
python = [25, 26, 29, 28]
statistics = [23, 21, 19, 25]
sql = [29, 27, 28, 25]

# Define the function to calculate mean
def mean(list):
    sum = 0
    for i in list:
        sum += i
    return sum/len(list)

# Calculate the mean values
python_mean = mean(python)
statistics_mean = mean(statistics)
sql_mean = mean(sql)

# Print the highest mean value
print('The highest mean value is: ', max(python_mean, statistics_mean, sql_mean))

# Print the name of the student who scored the highest mark in python
print('The student who scored the highest mark in python is: ', name[python.index(max(python))])

The highest mean value is:  27.25
The student who scored the highest mark in python is:  Tom

**Q4: You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49 and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, total cost of all medicine and how much money you refunded to the patient?**

In [66]:
paracetamol=35
azithromycin=49
vitamin_c=33

paracetamol_strip=2
azithromycin_strip=3
vitamin_c_strip=5

total_cost_paracetamol=paracetamol*paracetamol_strip
total_cost_azithromycin=azithromycin*azithromycin_strip
total_cost_vitamin_c=vitamin_c*vitamin_c_strip

total_cost_all_medicine=total_cost_paracetamol+total_cost_azithromycin+total_cost_vitamin_c

money_refunded=2000-total_cost_all_medicine

print("total cost of paracetamol is",total_cost_paracetamol)
print("total cost of azithromycin is",total_cost_azithromycin)
print("total cost of vitamin c is",total_cost_vitamin_c)
print("total cost of all medicine is",total_cost_all_medicine)
print("money refunded to the patient is",money_refunded)

total cost of paracetamol is 70
total cost of azithromycin is 147
total cost of vitamin c is 165
total cost of all medicine is 382
money refunded to the patient is 1618

**Q5: Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example: I am learning python contains 6 vowels. This function should be applicable for all other different sentences.**

In [54]:
def vowel_count(sentence):
    vowels = "aeiou"
    count = 0
    for i in sentence:
        if i in vowels:
            count += 1
    return count

print(vowel_count("I am learning python"))

5

**Q6: You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible your output should be ‘Congrats! You are eligible’, otherwise it should tell that you have to return after X number of years. Eligibility criteria for voting is 18 years.**


**For example, If someone is 18 or above your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years it should print output as ‘return after 3 years’.**

In [58]:
#input = age

age = int(input("Enter Age : "))

if age >= 18:
    print("Congrats! You are Eligible")
else:
    print("You are Not Eligible ")

Enter Age : 15
You are Not Eligible

In [73]:
    
    age = int(input("Enter your age: "))
    
    if age >= 18:
            print("Congrats! You are eligible")
    else:
       print("return after years",18-age)

Enter your age: 25
Congrats! You are eligible